<h1>Listing users</h1>
<table>
  <tr>
    <th>First name</th>
    <th>Last name</th>
    <th>User name</th>
    <th>Email</th>
    <th>City</th>
    <th>Age</th>
    <th>His cats</th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.first_name %></td>
    <td><%= user.last_name %></td>
    <td><%= user.user_name %></td>
    <td><%= user.email %></td>
    <td><%= user.city %></td>
    <td><%= user.age %></td>
    <td><%= link_to user.cats.count, user_cats_path(user) %></td>
    <td><%= link_to 'Show', user %></td>
    <td>
        <% if can? :follow, @user %>
            <%=follow_button @user %>
        <% end %>  
    </td>
  </tr>
<% end %>
</table>
