<p id="notice"><%= notice %></p>

<p>
  <b>First name:</b>
  <%= @user.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @user.last_name %>
</p>

<p>
  <b>User name:</b>
  <%= @user.user_name %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>City:</b>
  <%= @user.city %>
</p>

<p>
  <b>Age:</b>
  <%= @user.age %>
</p>

<%= image_tag @user.image, width: 200, height: 200 %><br/>

<%= link_to 'Back', users_path %> <br>
<%= link_to 'He has ' +  @user.cats.count.to_s + ' cats', user_cats_path(@user) %> | 
<%= link_to 'He likes ' + @user.liked_cats.count.to_s + ' cats', liked_cats_user_path(@user) %>
<br>
<% #binding.pry %>
<% if can? :follow, @user %>
  <%=follow_button @user %>
<% end %>  
<hr>
<h2>User's cats</h2>

<%= render '/cats/cat_list', :cats => @user.top_cats %>
<% if @user.cats.size > User::SHOW_TOP_CATS_LIMIT %>
  <%= link_to "See all #{@user}'s cat", user_cats_path(@user) %>
<% elsif (@user.cats.size == 0) %>
  <%=@user%> has no cats, you should suggest him upload some
<% end %>  

<hr>
<h2>People that follow <%=@user!=current_user ? "#{@user}" : 'me'%></h2>
<% @following_me.each do |follower| %>
  <p><%= link_to follower==current_user ? 'You are' : "#{follower} is", follower %> following <%=@user!=current_user ? @user : 'you' %></p>
<% end %>
<hr>   
<h2>People that <%=@user!=current_user ? "#{@user} follows" : 'I follow'%></h2>
<% @followed_by_me.each do |followed| %>
  <p><%=@user!=current_user ? "#{@user} follows" : 'You follow' %> <%= link_to followed, followed %></p>
<% end %>