.feed-item {    
   .cat-links {
     position: absolute;
     bottom: 10px;
   }
   position: relative;
   .cat-details {
     visibility: hidden;
     position: absolute;
     top: 0;
     left: 0;
     opacity: 0.8;
     background: black;
     width: 100%;
     height: 100%;
     padding: 20px;
     a {
       color: white;
     }
   }
   &:hover .cat-details {
     visibility: visible;
   }

     .cat-links {
    -webkit-transition: opacity 2000ms ease;
    -moz-transition: opacity 2000ms ease;
    -ms-transition: opacity 2000ms ease;
    -o-transition: opacity 2000ms ease;
    transition: opacity 2000ms ease;
    opacity: 0.001;
    a {
      margin-right: 20px;
    }
  }
  &:hover .cat-links {
    opacity: 1;
  }  
min-height: 300px; 
 }

