    <ul class="small-block-grid-2 large-block-grid-4">
      <% cats.each do |cat| %>
        <li>
          <div class="panel callout feed-item">
            <div class="cat-image">
              <%= image_tag cat.image, width: 200, height: 200 %>
            </div>
            <div class="cat-details">  
              <h3><%= cat.name %></h3>
              <p><%= cat.bio %></p>
            </div>
            <div class="cat-links">
              <%=like_button cat %>
              <% if can? :update, cat %>
                <%= link_to 'Edit', edit_cat_path(cat), style: 'margin-right: 20px' %>
                <%= link_to 'Destroy', cat, method: :delete, 'data-confirm' => 'Are you sure?' %>
              <% end %>
              <br/>
              <span>(<b><%=cat.likes_count %></b> People like him)</span>
            </div>  
          </div>
        </li>
      <% end %>
    </ul>