<%= simple_form_for @cat do |f| %>
    <%= f.input :name, label: 'Cat\'s name', placeholder: 'The name of your pussy' %>
    <%= f.input :breed, :collection => Cat::BREED_TYPES %>
    <%= f.input :bio %>
    <%= f.input :image %> 
    <%= image_tag cat.image, width: 400, height: 400 unless cat.image.blank? %><br/>
    <%= f.submit 'Save', class: 'button' %>
<% end %>
