<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @cat.name %>
</p>

<p>
  <b>Bio:</b>
  <%= @cat.bio %>
</p>

<p>
	<%= image_tag @cat.image, width: 200, height: 200 %>
</p>	


<%= link_to 'Edit', edit_cat_path(@cat) %> |
<%= link_to 'Back', cats_path %>