<nav class="top-bar">
  <ul class="title-area">
    <li class="name">
      <h1><%= link_to "Home", root_path %></h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
  </ul>

  <section class="top-bar-section">
    <ul class="right">
      <li class="divider"></li>
      <li><%= link_to 'Edit account', edit_user_registration_path %></li>
      <li class="divider"></li>
      <li><%= link_to 'My Cats', cats_path %></li>
      <li class="divider"></li>
      <li><%= link_to 'Users', users_path %></li>
      <li class="divider"></li>      
      <% if user_signed_in? %>
        <li><%= link_to 'My favotires', liked_cats_user_path(current_user) %></li>
        <li class="divider"></li>        
        <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
      <% else %>
        <li><%= link_to 'Login', new_user_session_path %></li>
        <li class="divider"></li>
        <li><%= link_to 'Signup', new_user_registration_path %></li>
      <% end %>
    </ul>
  </section>
</nav>